@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Primary / Secondary Colors */
  --color-primary: #5AADEC;   /* blue-600 */
  --color-secondary: #0a0a0a; /* purple-600 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0aec;
    --foreground: #ededed;

    --color-primary: #5AADEC;   /* blue-500 */
    --color-secondary: #0a0a0a; /* purple-500 */
  }
}

/* Tailwind theme mapping */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

.button {
  cursor: pointer;
}